<div class="container">
	<div class="row">
		<div class="form-div">
 <tr>
	<td><%= link_to "ユーザー一覧へ", admins_users_path, class: "btn blue-btn" %></td>
	<br>
	<td><%= link_to "商品一覧へ", admins_items_path, class: "btn blue-btn"%></td>
 </tr>
		</div>
	</div>
</div>
