<!-- マイページ表示　-->
<div class="container">
<h1>User Info</h1>
<table class="table">
	<tbody>
		<tr>
			<td> 名前</td>
			<td>@user.name</td>
		</tr>
		<tr>
			<td> 〒</td>
			<td>@user.postal_code</td>
		</tr>
		<tr>
			<td> 住所</td>
			<td>@user.address</td>
		</tr>
		<tr>
			<td> 電話番号</td>
			<td>@user.tell</td>
		</tr>
	</tbody>
</table>
<!-- ボタンの調整 -->
<div class="row">
	<div class="col-lg-2">
	</div>
	<div class="col-lg-8">
<%= link_to "編集", edit_user_path(current_user.id), class: "btn red-btn" %>
<%= link_to "購入履歴", user_path(current_user.id), class: "btn red-gray-btn" %>
<%= link_to "住所管理", sub_addresses_path, class: "btn red-btn" %>
</div>
<div class="col-lg-2">
</div>
</div>
<br>
<%= link_to "退会", user_path(current_user.id), class: "btn red-border-btn" %>
<!-- ボタンの調整 -->




</div>
<!-- マイページ表示　-->
