<div class="container">
  	  <div class="comfirm-box">
  	  	　<div class="comfirm_box_text">
		    <p>ご購入ありがとうございます。<br> またのご利用をお待ちしております。</p>
	      </div>
	      <div class="comfirm_box_btn">
			<%= link_to "Topページ", root_path, class: "btn red-btn btn-md" %>
			<br>
			<%= link_to "購入履歴", order_histories_path, class: "btn red-gray-btn btn-md" %>
		 </div>
  	  </div>
</div>
