<h1>CD一覧画面</h1>

<% @item.each do |item| %>
 <%= attachment_image_tag item, :image, :fill, 250, 250, format: 'jpeg',class: "col-lg-4" %>
<% end %>

<%= link_to '新規登録',new_admins_item_path %>


<div class="admin_items">

<div class="container">
      <div class="row">
         <div class="col-lg-8">


	<table class="table">
		<tbody>
			<tr>
				<td>アーティスト</td>
				<td><%#= @item.artist %></td>
			</tr>
			<tr>
				<td>シングル・アルバム名</td>
				<td><%#= @item.title_name %></td>
			</tr>
			<tr>
				<td>レーベル名</td>
				<td><%#= @item.label %></td>
			</tr>
			<tr>
				<td>ジャンル</td>
				<td><%#= @item.genre_id %></td>
			</tr>
			<tr>
				<td>収録曲</td>
				<td><%#= @item.tell %></td>
			</tr>
			<tr>
				<td>値段</td>
				<td><%#= @item.price %></td>
			</tr>
			<tr>
				<td>在庫数</td>
				<td><%#= @item.stock %></td>
			</tr>
		</tbody>
    </table>

	<%#= link_to “戻る”, admins_users_path %>

	<%#= link_to “購入履歴”, ユーザー一覧画面_path %>

	<%#= link_to "編集", edit_admins_user_path(@user.id) %>

	<%#= link_to “削除”, 削除_path(params[:id]), method: :delete %>
</div>

</div>
</div>
</div>

