
<!-- 購入履歴画面 -->
<div class="container">
	<h1 class="hedding_order_history"> 購入履歴</h1>
		<table>
			<thead>
				<tr>
					<th> 購入日</th>
					<th> 購入内容(アーティスト名/シングル・アルバム名)</th>
					<th> 購入価格</th>
					<th> ステータス</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>あ</td>
					<td>い</td>
					<td>う</td>
					<td>え</td>
				</tr>
			</tbody>
		</table>
		　　　　<div class="order_history_btn">
				<%= link_to "戻る", user_path(current_user), class: "btn red-gray-btn btn-xs" %>
			   </div>
</div>