<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="heading">
        <p>Genre</p>
      </div>
      <ul class="genre_list">
      <% @genres.each do |genre| %>
          <a href="#"><li><img src="no_image.png" class="genre_image"><%= genre.genre_name %></li></a>
      <% end %>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="heading">
        <p>Music</p>
      </div>
      <ul class="items_list">
      <% @items.each do |item| %>
        <li>
          <ul class="items">
            <li><a href ='#'><%= attachment_image_tag item, :image, :fill, 120, 120, format: 'png', class: "" %></a></li>
            <li><%= item.title_name %></li>
            <li><%= item.artist %></li>
          </ul>
        </li>
      <% end %>
    </ul>
    </div>
  </div>
</div>
