<h1>ユーザー購入履歴</h1>


<div class="admin_user_orderhistory">
	<table class="table-bordered">
		<tbody>
			<tr>
				<td>購入日</td>
				<td><%= @order_histories.buy_day %></td>
			</tr>
			<tr>
				<td>購入内容</td>
				<td><%#= @order_histories. %></td>
			</tr>
			<tr>
				<td>購入価格総計</td>
				<td><%= @order_histories.summary_price %></td>
			</tr>
			<tr>
				<td>送付先</td>
				<td><%= @order_histories.destination %></td>
			</tr>
			<tr>
				<td>ステータス</td>
				<td><%= @order_histories.status_id %></td>
			</tr>
		</tbody>
    </table>


	<%#= link_to “戻る”, admins_users_path %>

</div>