/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


a,a:hover,a:visited{
  text-decoration: none;
}
// テキストボックス
input[type="text"],input[type="email"],input[type="password"] {
	border-radius: 5px;
  margin: 5px 0;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  line-height: 2em;
}
// ボタン
.btn{
  margin: 5px 0;
}
.red-btn{
  background-color: #e60303;
  color:#fff;
  width: 200px;
}
.red-border-btn{
  background-color: #fff;
  border:solid 1px #e60303;
  color:red;
  width: 200px;
}
.red-gray-btn{
  background-color:#ccc;
  border:none;
  color:#e60303;
  width: 200px;
}
.blue-btn{
  background-color:#33a4ec;
  color:#fff;
  width: 200px;
}
// deviseエラー表示用
// bootstrapのflushに寄せる
#error_explanation{
  width: 80%;
  margin: 30px auto;
  padding-top:10px;
  padding-bottom:5px;
  background-color: #ffd5cd;
  border-radius: 5px;
}
// エラー見出し非表示
#error_explanation > h2{
  display: none;
}
// 改行されてしまう対応
.field_with_errors{
  display: inline-block;
}
// ヘッダー・フッター共通
header,footer{
  background-color: Black;
  color:White;
  margin: 0 20px;
  padding:10px 0;
    a,a:visited{
      color:white;
    }
    a:hover{
      color:lightgray;
    }
}
footer{
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
// ロゴ
.logo{
  height: 60px;
  width: 150px;
  border-radius: 5px;
  padding:15px 0;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}
.user_logo{
  background-color:#e60303;
}
.admin_logo{
  background-color:#4c9feb;
  width: 180px;
}
// メニュー
.nav{
	float: right;
}
.nav > ul > li{
 list-style: none;
 display: inline;
 padding:0 5px;
}
.admin-nav{
  height: 100%;
  vertical-align: bottom;
}
.itemname-search-txt{
  margin-top:5px;
  width: 300px;
}
// サインアップ・ログインフォーム
.form-div{
  width: 80%;
  margin: 30px auto;
  padding:20px;
  border: solid 1px #bababa;
  text-align: center;
  .postal-code-txt,.address-txt,
  .tell-text,.email-txt,.password-txt{
    width: 310px;
  }
}
// ユーザー詳細画面
.user_info {
  margin-bottom: 50px;
}

.user_info::before, .user_info::after {
  content: "";
  display: inline-block;
  width: 140px;
  height: 1px;
  margin: 0 3rem;
  background-color: #333;
  vertical-align: middle;
}
/*table調整*/
.personal_box {
  width: 400px;
  margin: 5px 0 0 70px;
}
.td_box {
  width: 200px;
}
/*ユーザー詳細画面ボタン調整*/
.btn_box {
  width: 61%;
  margin: 0 auto;
  padding-top: 40px;
}
.btn_box .red-btn {
  width: 100px;
}
.btn_box .red-gray-btn {
  width: 110px;
  margin: 0 10px;
}
.leave .red-border-btn{
  width: 100px;
}
.leave a {
  color: red;
}
