// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ユーザー詳細画面
.user_info {
  margin-bottom: 50px;
}

.user_info::before, .user_info::after {
  content: "";
  display: inline-block;
  width: 140px;
  height: 1px;
  margin: 0 3rem;
  background-color: #333;
  vertical-align: middle;
}
/*table調整*/
.personal_box {
  width: 400px;
  margin: 5px 0 0 70px;
}
.td_box {
  width: 200px;
}
/*ユーザー詳細画面ボタン調整*/
.btn_box {
  width: 61%;
  margin: 0 auto;
  padding-top: 40px;
}
.btn_box .red-btn {
  width: 100px;
}
.btn_box .red-gray-btn {
  width: 110px;
  margin: 0 10px;
}
.leave .red-border-btn{
  width: 100px;
}
.leave a {
  color: red;
}